<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>College Fest</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous"
    />
</head>
<body>
<nav class="navbar bg-dark navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/collegefest/students">College Fest</a>
    </div>
</nav>

<div class = "container w-50 mt-4">
    <table class="table table-bordered border border-light-subtle rounded-2">
        <thead>
        <tr>
            <th class = "table-light text-center border border-light-subtle">
                New Student
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <form class="row g-3" th:action="@{/collegefest/students/insert}" th:object = "${newStudent}" method = "POST">
                    <div class="col-md-12">
                        <label for="inputFirstName" class="form-label"
                        >First Name</label
                        >
                        <input
                                type="text"
                                class="form-control"
                                id="inputFirstName"
                                th:field="*{firstName}"
                        />
                    </div>
                    <div class="col-md-12">
                        <label for="inputLastName" class="form-label"
                        >Last Name</label
                        >
                        <input
                                type="text"
                                class="form-control"
                                id="inputLastName"
                                th:field = "*{lastName}"
                        />
                    </div>

                    <div class="col-md-12">
                        <label for="inputCourseName" class="form-label"
                        >Course Name</label
                        >
                        <input
                                type="text"
                                class="form-control"
                                id="inputCourseName"
                                th:field="*{course}"
                        />
                    </div>
                    <div class="col-md-12">
                        <label for="inputStudentCountry" class="form-label"
                        >Country Name</label
                        >
                        <input
                                type="text"
                                class="form-control"
                                id="inputStudentCountry"
                                th:field="*{country}"
                        />
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>


</div>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"
></script>

</body>
</html>
